/* Pc */
@media (min-width: 992px) {
    .mobile-tablet-header__menu {
        display: none;
    }
}

/* Tablet and mobile */
@media (max-width: 991.98px) {
    .header-nav__menu {
        display: none;
    }

    .menu-checkbox__img {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 30px;
        top: 20px;
        color: #1a2e47;
    }

    .menu-checkbox__overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        inset: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    #menu-checkbox:checked ~ .menu-checkbox__overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-drawer {
        position: fixed;
        background-color: #223039;
        inset: 0 0 0 60%;
        z-index: 2;
        transform: translateX(100%);
        padding: 26px;
        transition: 0.3s;
    }

    #menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0%);
    }

    #header-nav__menu--mobile {
        color: #fff;
    }

    .header-nav__menu-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .header-nav__menu-item {
        padding: 16px 24px;
    }

    .header-nav__menu-item:hover {
        opacity: 0.9;
        background-color: #7c7777;
    }

    .main-skill {
        grid-template-columns: 1fr;
    }
    
    .main-gallery__cards {
        grid-template-columns: 1fr;
    }

    .main-gallery__card--responsive {
        display: none;
    }

    .main-testimonial__cards {
        grid-template-columns: 1fr;
    }

    .main-testimonial__card--responsive {
        display: none;
    }

    .main-testimonial__desc {
        margin: 42px auto 68px;
    }

    .footer-contact__content {
        flex-direction: column;
        gap: 30px;
    }

    .footer-contact__form {
        margin-left: 20px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Mobile */
@media (max-width: 767.98px) {
    .header-content {
        flex-direction: column;
    }

    .header-logo-bar {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 25px;
    }

    .main-gallery__img {
        max-width: 350px;
    }

    .footer-contact__desc {
        width: 400px;
    }

    .footer-contact__form input:not([type="submit"]) {
        width: 360px;
    }
}