/* Đổi box chứa của tất cả các phần tử trong html thành border-box để dễ dàng kiểm soát bố cục của phần tử */
* {
    box-sizing: border-box;
}

:root {
    --font-color: #2D2D2D;
    --font-line-height: 1.68;
}

/* Quy đổi 1 rem bằng 10 px sau đó đặc lại font-size mặc định bằng đơn vị rem là 1.6rem */
html {
    font-size: 62.5%;
}

body,
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
    font-family: "Epilogue", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.6rem;
}

/* Common */
.container {
    max-width: calc(1320px - 50px);
    margin: 0 auto;
    background-color: #fff;
}

p {
    color: var(--font-color);
    line-height: var(--font-line-height);
    font-size: 1.7rem;
}

body {
    background-color: #e4e4e4;
}

.subtitle {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.title-lv1 {
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 1.56;
}

.title-lv2 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.31;
}

.desc {
    font-size: 1.7rem;
}

.cta {
    color: #fff;
    background-color: var(--font-color);
    width: 211px;
    height: 78px;
    border: none;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.87;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s;
}

.cta:hover {
    opacity: 0.9;
}

/* Header */
.header {
    height: 100vh;
}

.header-container {
    height: 100%;
}

/* =================================== Header-Top =================================== */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__logo {
    width: 49px;
    height: 30px;
    margin: 24px 0px 24px 42px;
}

.header-nav__menu {
    margin-right: 42px;
}

.header-nav__menu .header-nav__menu-list {
    width: 209px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__menu .header-nav__menu-item {
    font-size: 1.7rem;
    line-height: var(--font-line-height);
    color: var(--font-color);
    padding: 5px;
    cursor: pointer;
}

.header-nav__menu .header-nav__menu-item:hover {
    text-shadow: 1px 0 0 black;
}

/* =================================== Header-Content =================================== */
.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-content__left {
    padding: 15px;
}

.header-content__right {
    margin: 42px 0px;
}

.header-content__subtitle,
.header-content__title {
    margin-bottom: 24px;
}

.header-content__desc {
    margin-bottom: 48px;
}

.header-content__title {
    font-size: 6.8rem;
    font-weight: 600;
    color: var(--font-color);
}

.header-content__img {
    display: block;
    object-fit: cover;
}

/* Logo Bar */
.header-logo-bar {
    padding: 42px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

/* =================================== Main =================================== */
/* =================================== Main-Skill =================================== */
.main-skill {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 42px;
}

.main-skill__card {
    text-align: center;
}

.main-skill__img {
    margin: 64px 0px 42px 0px;
    width: 129px;
    height: 125px;
    object-fit: cover;
    transition: scale 0.3s;
}

.main-skill__img:hover {
    scale: 1.2;
}

.main-skill__title {
    margin-bottom: 12px;
}

.main-skill__desc {
    width: 310px;
    margin: 0px auto;
    margin-bottom: 64px;
}

/* =================================== Main-Gallery =================================== */
.main-gallery {
    padding-bottom: 42px;
}

.main-gallery__title {
    text-align: center;
    padding: 42px 0px;
}

.main-gallery__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 24px;
}

.main-gallery__img {
    display: block;
    object-fit: cover;
    max-width: 394px;
    max-height: 330px;
    margin-bottom: 24px;
}

.main-gallery__subtitle {
    margin-bottom: 8px;
}

.main-gallery__ad {
    font-size: 1.7rem;
    line-height: 1.58;
}